# Block 1
Importing libraries

In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Block 2
Web scraping the data

In [110]:
# Use read_html to find tables from the url
data = pd.read_html("https://en.wikipedia.org/wiki/MonsterVerse")

# Save the table we want as data
data = data[3]

# Look at the table
data.head(7)

         Character  ...             Films
         Character  ... Godzilla vs. Kong
          Monsters  ...          Monsters
0         Godzilla  ...               CGI
1             MUTO  ...   Archive footage
2        King Kong  ...   Eric PeteyS[57]
3    King Ghidorah  ...   Archive footage
4            Rodan  ...   Archive footage
5           Humans  ...            Humans
6  Ishiro Serizawa  ...               NaN

[7 rows x 5 columns]

# Block 3
Change the index, column and index names, remove the row that has all duplicates

In [111]:
# Rename columns
data.columns = ["Character", "Godzilla", "Kong: Skull Island", "Godzilla: King of the Monsters", "Godzilla vs. Kong"]

# Set character as the index
data.index = data["Character"]

# Drop character column
data = data.drop(columns = "Character")

# Remove row with duplicates
data = data.drop("Humans")

# Look at the updated table
data.head(7)

                             Godzilla  ... Godzilla vs. Kong
Character                              ...
Godzilla                  T.J. StormS  ...               CGI
MUTO             Matt CrossSLee RossS  ...   Archive footage
King Kong                         NaN  ...   Eric PeteyS[57]
King Ghidorah                     NaN  ...   Archive footage
Rodan                             NaN  ...   Archive footage
Ishiro Serizawa          Ken Watanabe  ...               NaN
Vivienne Graham         Sally Hawkins  ...               NaN

[7 rows x 4 columns]

# Block 4
Save the file as a .csv with the delimiter being tabs

In [94]:
data.to_csv("problem_set_3.csv", sep = "\t")