# Block 1
Load relevant libraries

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

# Block 2
Load the data and make sure there are no extra index columns. Show the shape of the data AND the head of the data

In [3]:
# Load in data and set column 1 as the index
data = pd.read_excel("messed_up_iris.xlsx", index_col = 0)

# Show the shape of the data
print("Shape of the data:")
print(data.shape)
print()

# Show head of the data
print("Head of the data:")
data.head()

Shape of the data:
(150, 7)

Head of the data:

   sepal_length  sepal_width  petal_length  petal_width species   color  origin
0           5.1          3.5           1.4          0.2  setosa   green     usa
1           4.9          3.0           1.4          0.2  setosa  yellow     usa
2           4.7          3.2           1.3          0.2  setosa   green     usa
3           4.6          3.1           1.5          0.2  setosa  orange   japan
4           5.0          3.6           1.4          0.2  setosa    blue  europe

# Block 3
Remove columns and rows where there are more than 50% of the data missing. Show the shape of the data after you have removed those columns/rows

In [4]:
# Remove columns where more than 50% of the data is missing
data.dropna(thresh = len(data) / 2, axis = 1, inplace = True)

# Remove rows where more than 50% of the data is missing
data.dropna(thresh = len(data.columns) / 2, axis = 0, inplace = True)

# Show the shape of the data
print("Shape of the updated data:")
print(data.shape)
print()

# Show head of the data
print("Head of the updated data:")
data.head()

Shape of the updated data:
(145, 6)

Head of the updated data:

   sepal_length  sepal_width  petal_length  petal_width species  origin
0           5.1          3.5           1.4          0.2  setosa     usa
1           4.9          3.0           1.4          0.2  setosa     usa
2           4.7          3.2           1.3          0.2  setosa     usa
3           4.6          3.1           1.5          0.2  setosa   japan
4           5.0          3.6           1.4          0.2  setosa  europe

# Block 4
Remove duplicate data, if there is any. Show the shape of the data

In [5]:
# Drop duplicate rows
data = data.drop_duplicates(ignore_index = True)

# Show the shape of the data
print("Shape of the data after removing duplicates:")
print(data.shape)

Shape of the data after removing duplicates:
(140, 6)

# Block 5
Dummy code the categorical data. Show the head of the data

In [6]:
# Fix errors in the species data
data["species"] = np.where(data["species"] == "seotsa", "setosa", data["species"])
data["species"] = np.where(data["species"] == "versicolr", "versicolor", data["species"])
data["species"] = np.where(data["species"] == "west virginia", "virginica", data["species"])
data["species"] = np.where(data["species"] == "virginia", "virginica", data["species"])

# Dummy code species
species_df = pd.get_dummies(data["species"], drop_first = True)

# Fix errors in the origin data
data["origin"] = np.where(data["origin"] == "euarope", "europe", data["origin"])
data["origin"] = np.where(data["origin"] == "uas", "usa", data["origin"])

# Dummy code origin
origin_df = pd.get_dummies(data["origin"], drop_first = True)

# Add the dummy coded variables to the dataframe
data = pd.concat([data, species_df, origin_df], axis = 1)

# Show head of the data
data.head()

   sepal_length  sepal_width  petal_length  ...  virginica japan usa
0           5.1          3.5           1.4  ...          0     0   1
1           4.9          3.0           1.4  ...          0     0   1
2           4.7          3.2           1.3  ...          0     0   1
3           4.6          3.1           1.5  ...          0     1   0
4           5.0          3.6           1.4  ...          0     0   0

[5 rows x 10 columns]

# Block 6
Drop the redundant columns from the dataframe so that you are left with just the dummy coded columns. Show the head of the data

In [7]:
# Drop categorical species and origin columns
data = data.drop(columns = ["species", "origin"])

# Show head of the data
data.head()

   sepal_length  sepal_width  petal_length  ...  virginica  japan  usa
0           5.1          3.5           1.4  ...          0      0    1
1           4.9          3.0           1.4  ...          0      0    1
2           4.7          3.2           1.3  ...          0      0    1
3           4.6          3.1           1.5  ...          0      1    0
4           5.0          3.6           1.4  ...          0      0    0

[5 rows x 8 columns]

# Block 7
Remove outliers above 2 standard deviations.

In [8]:
# Remove outliers for sepal length
data["sepal_length"] = np.where(data["sepal_length"] > data["sepal_length"].mean() + (2 * data["sepal_length"].std()), np.nan, data["sepal_length"])

# Remove outliers for sepal width
data["sepal_width"] = np.where(data["sepal_width"] > data["sepal_width"].mean() + (2 * data["sepal_width"].std()), np.nan, data["sepal_width"])

# Remove outliers for petal length
data["petal_length"] = np.where(data["petal_length"] > data["petal_length"].mean() + (2 * data["petal_length"].std()), np.nan, data["petal_length"])

# Remove outliers for petal width
data["petal_width"] = np.where(data["petal_width"] > data["petal_width"].mean() + (2 * data["petal_width"].std()), np.nan, data["petal_width"])

# Block 8
For the remaining missing data, replace with the median value. Or Bonus 0.5 points – Instead of replacing the missing data with the overall median value, replace them with the median value with respect to species. In other words, in the first row, if petal length is missing, then replace that petal length value with the median petal length value for the species setosa.

In [11]:
# Fill missing values with the median value
data = data.fillna(data.median())

# Block 9
Bonus 0.5 points – Bin or bucket the petal width column into low, medium, and high depending on the following bins = 0 to 0.9, 0.9 to 1.8, 1.8 to 2.7. These should not be dummy coded, but instead, you should have one column with pedal_width as 1 for 0 to 0.9, 2 for 0.9 to 1.8, and 3 for 1.8 to 2.7.

In [12]:
# Create 3 bins for low, medium, and high petal width
data["petal_width"] = pd.cut(data["petal_width"], bins = [0, 0.9, 1.8, 2.7], labels = [1, 2, 3])

# Block 10
Show (i.e., print) that there are no missing data and also use the describe method to show off the final dataset.

In [13]:
# Show that there are no missing data
print(data.isnull().any())
print()

# Show the final dataset
print("Descriptive Statistics for the Final Dataset:")
data.describe()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
versicolor      False
virginica       False
japan           False
usa             False
dtype: bool

Descriptive Statistics for the Final Dataset:

       sepal_length  sepal_width  ...       japan         usa
count    140.000000   140.000000  ...  140.000000  140.000000
mean       5.872143     3.057857  ...    0.300000    0.364286
std        0.791508     0.431505  ...    0.459903    0.482957
min        4.300000     2.000000  ...    0.000000    0.000000
25%        5.200000     2.800000  ...    0.000000    0.000000
50%        5.800000     3.000000  ...    0.000000    0.000000
75%        6.400000     3.300000  ...    1.000000    1.000000
max        7.900000     4.400000  ...    1.000000    1.000000

[8 rows x 7 columns]